<div class="flex flex-col items-center">
<h2 class="text-2xl my-10">Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs flex flex-col items-center">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "block mb-2 text-sm font-medium text-gray-900 mr-2 bg-teal-100" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "block mb-2 text-sm font-medium text-gray-900 mr-2 bg-teal-100" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: "block mb-2 text-sm font-medium text-gray-900 mr-2 bg-teal-100" } %>

    <%= f.button :submit, "Sign up", class: "bg-teal-300 rounded-md p-2 mr-2" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
